html { background-color: #FFFFDF; }
header { text-align: center; background-color: maroon; font-family: Verdana, sans-serif; }
header b { color: #BFFFBF; }
header nav { display: inline-block; }
header a { color: yellow; }
header a:hover { color: maroon; background-color: yellow; }
header a:active { color: navy; background-color: #BFFFBF; }
h1, figure { text-align: center; }
figcaption { font-size: 0.8em; }
figure img { max-width: 100%; }
pre, code { background-color: #EFEFEF; font-weight: bold; }
pre { overflow: auto; }
table caption { font-size: 0.8em; }
table { margin: auto; border-collapse: collapse; }
table, th, td { border: 1px solid; padding: 4px; }
th { background-color: #DFDFDF; }
table ul { margin: auto; }
footer { border-top: 1px solid; text-align: center; font-size: 0.8em; }
