html { min-width: 800px; }
header { padding: 4px; font-size: 16px; }
header b { margin-right: 32px; }
header nav, header a, pre, footer { padding: 8px; }
h1 img { height: 24px; }
code { padding: 1px; margin: 1px; }
