@import url("common.css");

h1 { font-size: 64px; }

nav
{
  width: 80%;
  margin: auto;
}

nav ul { font-size: 64px; }

nav ul li a { padding: 16px; }

h3 { font-size: 4em; }

p, h4, ul, ol, dt, table, pre { font-size: 3em; }

figcaption { font-size: 2em; }

table ul { font-size: 1em; }

pre, code { overflow: auto; }
