html { font-size: 2em; }
header { padding: 8px; }
header b { font-size: 48px; margin: 16px; }
header nav, header a, pre, footer { padding: 16px; }
h1 img { height: 48px; }
code { padding: 2px; margin: 2px; }
ol { margin-left: 16px; }
small { font-size: 0.5em; }
